
/* *************** layout *************** */
#footer { margin: 40px 0; }
textarea { width: 98%; }
.ui-block-a, .ui-block-c { width: 10%; }
.ui-block-b { width: 80%; }

video, embed { height: 230px; width: 230px; }

/* First breakpoint at 500px */
@media all and (min-width: 400px){
	.ui-block-a, .ui-block-c { width: 2%; }
	.ui-block-b { width: 95%; }
	.show-detail img { width: 80%;  }
	video, embed { height: 400px; width: 400px; }
}

/* Second breakpoint at 800px */
@media all and (min-width: 800px){
	.ui-block-a, .ui-block-c { width: 15%; }
	.ui-block-b { width: 70%; }
	video, embed { height: 700px; width: 700px; }
}


/* *************** style, color ************ */
body { background-color: #e8ede0; }
#header a, #bodyer a, #footer a { color: #374b37; }
#msg { background-color: #9dc7de; }
.menu_item .menu_hl { background-color: #b4bdb4; }
.edit-form .addfile { width: 98%; }

.top-bar a { margin-left: 5px; }
#header h1 { margin: 10px 0; }

.show-list h3 { margin: 0; padding: 0; }
.show-list p { margin: 5px 0 15px 0; }
.show-list h3 a { text-decoration: none; color: black; }
.show-list h3 a:hover { text-decoration: underline; }

.show-list-body { margin-bottom: 11px; }

.show-detail img { width: 70%;  }
.show-detail .show-detail-img { margin-bottom: 10px; text-align: left; }
.show-detail label.right { margin-left: 10px;  }
.show-detail a:hover { cursor: underline;}

.show-pagination span { margin-right: 5px; }

.show-menu { height: 33px; }
.show-menu .left { margin-right: 10px; }
.show-menu .right { margin-left: 10px; }
