# common ignored file
*.apk
*.bak
*.log
*.temp
*.tmp
*.*~
~*.*
*.swp
*.db
tags

# custom file about this project
index.html
module/*
!module/admin/*
!module/front/*
!module/theme/*
others/*
!others/upload/logo.jpg

# test file
*.t
*.tt
