/* ------------- common */
body { font-family: "Trebuchet MS", sans-serif; font-size:15px; }
.left { float: left; }
.right { float: right; }
.clear { clear: both; }
.w100 { width: 100%; }
body, div, p, form, ul  { margin: 0; padding: 0; }
.mr10 { margin: 10px; }
.mb10 { margin-bottom: 10px; }
.hide { display: none; }

/* ------------- styles */
ul li { list-style-type: none; margin-bottom: 5px; }
a { text-decoration: none; }
a:focus{ outline: none; }


pre { 
	white-space: pre-wrap; 
	/* css-3 */ 
	white-space: -moz-pre-wrap; 
	/* Mozilla, since 1999 */ 
	white-space: -pre-wrap; 
	/* Opera 4-6 */ 
	white-space: -o-pre-wrap; 
	/* Opera 7 */ 
}

* html pre { 
	word-wrap: break-word; /* Internet Explorer 5.5+ */ 
	white-space : normal ; /* Internet Explorer 5.5+ */ 
}

