


/* *************** style, color ************ */
body { background-color: #f5f5f5; }
#header a, #bodyer a, #footer a { color: #EF1313; }
a:hover { text-decoration: underline; }
.header_title a:hover { text-decoration: none; }
textarea { width: 99%; background-color: white; border: 1px solid #98a584; border-radius:5px; }
input { background-color: white;  border: 1px solid #98a584; border-radius:5px; }
.menu_item .menu_no { border: 1px solid #f5f5f5;  border-radius:5px; }
.menu_item .menu_hl { border: 1px solid #98a584;  border-radius:5px; background-color: white; }
.show-detail pre { background-color: white;  border: 1px solid #98a584; border-radius:10px; }
.black { color: black; }
.gray1 { color: #ced5c8; }

.show-list h3 a { color: black; }
.show-list-body {  background-color: white; border: 1px solid #98a584; border-radius:10px; }
.show-list-body .list-body a { text-decoration: underline; }
.list-cmt-tip { background-color: #dbe1c8; border-radius: 10px;} //#98a584
.show-detail-title label.useful_view {}
.show-detail-title label.useful_view { cursor: pointer; color: #f24e48;  margin-left:2px;}
.show-detail-title { color: gray; }

.show-detail pre a { text-decoration: underline; }
.show-detail a, .show-detail a label { cursor: pointer; }

.adm_btn label, .re_btn { color: #ced5c8; }

