
/* *************** layout *************** */
#footer { margin: 40px 0; }
.ui-block-a, .ui-block-c { width: 5%; }
.ui-block-b { width: 90%; }
video, embed { height: 230px; width: 100%; }

/* *************** style, color, height, width ************ */
body { background-color: #e8ede0; }
#header a, #bodyer a, #footer a { color: #374b37; }
// #header { margin-bottom: 3px;}
a:hover { text-decoration: underline; }
.header_title a:hover { text-decoration: none; }
textarea { width: 98%; background-color: #eee; }
textarea.ui-input-text { min-height: 60px; }
input { background-color: #eee; }

#footer a, .top-bar a { margin-left: 5px; }
#header h1 { margin: 10px 0; }
#header { min-height: 33px; }
#header, #bodyer, #footer { clear: both; }
#msg { background-color: #9dc7de; }

.menu_item li {  margin: 0 10px 15px 0; }
.menu_item .menu_hl { background-color: #b4bdb4; padding: 0 3px; }
// .menu_item .menu_hl { border: 1px solid gray; }
.edit-form .addfile { width: 98%; }


.show-pagination span { margin-right: 5px; }


.upload_form { margin-top: 10px; }
.show-list-body p.list-body {
	word-wrap: break-word; /* Internet Explorer 5.5+ */ 
	white-space : normal ; /* Internet Explorer 5.5+ */ 
}

.show-list img, .show-list embed, .show-list video { width: 200px; height: 150px; }
.show-list, .show-detail { clear: both; margin-bottom: 15px; }
.show-list h3 { margin: 0; padding: 0; }
.show-list p { margin-top: 7px; }
.show-list h3 a { color: black; }

.show-list-body p a { text-decoration: underline; }
.show-list-body { margin-bottom: 15px; }
// .show-list-body h3, .show-list-body p, .show-detail-title, .show-detail pre { padding: 3px;}


.show-detail img { width: 90%;  }
.show-detail .show-detail-img { margin-bottom: 15px; text-align: left; }
.show-detail label.right { margin-left: 10px;  }
.show-detail pre a { text-decoration: underline; }
.show-detail a, .show-detail a label { cursor: pointer; }
.show-detail pre { margin: 0;}

.show-detail-title { color: gray; }
.show-detail-title label { margin-bottom: 15px; }
.show-detail-title label.useful_hl { color: #f24e48; margin-left:5px; }
.show-detail-title label.useful_no { color: #b5bdae; margin-left:5px;}
.show-detail-body { margin-bottom: 15px; }


// 	.show-list-body h3 { background: #bbc8bb; height: 100%;}
// 	.show-list-body { border: 1px solid gray; }

// 	.show-detail-title { background: #bbc8bb; height: 20px; }
// 	.show-detail-body { border: 1px solid gray; }


/* First breakpoint at 500px */
@media all and (min-width: 400px){
// 	.show-detail img { width: 95%;  }
	video, embed { height: 400px; }
}


/* Second breakpoint at 800px */
@media all and (min-width: 800px){
	.ui-block-a, .ui-block-c { width: 15%; }
	.ui-block-b { width: 70%; }
	video, embed { height: 500px; }
}

@media all and (min-width: 900px){
	video, embed { height: 600px; }
}
