
/* *************** layout *************** */
#footer { margin: 40px 0; }
textarea { width: 98%; }
.ui-block-a, .ui-block-c { width: 5%; }
.ui-block-b { width: 90%; }
video, embed { height: 230px; width: 100%; }

/* *************** style, color, height, width ************ */
body { background-color: #e8ede0; }
#header a, #bodyer a, #footer a { color: #374b37; }
#header { margin-bottom: 3px;}
a:hover { text-decoration: underline; }
.header_title a:hover { text-decoration: none; }

#msg { background-color: #9dc7de; }
.menu_item .menu_hl { background-color: #b4bdb4; padding: 0 2px; }
// .menu_item .menu_hl { border: 1px solid gray; }
.edit-form .addfile { width: 98%; }

.top-bar a { margin-left: 5px; }
#header h1 { margin: 10px 0; }

.show-pagination span { margin-right: 5px; }

.show-menu { height: 33px; }
.show-menu .left { margin-right: 10px; }
.show-menu .right { margin-left: 10px; }

.upload_form { margin-top: 10px; }
.show-list-body p.list-body {
	word-wrap: break-word; /* Internet Explorer 5.5+ */ 
	white-space : normal ; /* Internet Explorer 5.5+ */ 
}


.show-list h3 { margin: 0; padding: 0; }
.show-list p { margin: 2px 0 5px 0; }
.show-list h3 a { color: black; }

.show-list-body p a { text-decoration: underline; }
.show-list-body { margin-bottom: 12px; }
.show-list-body h3, .show-list-body p, .show-detail-title, .show-detail pre { padding: 3px;}


.show-detail img { width: 70%;  }
.show-detail .show-detail-img { margin-bottom: 10px; text-align: left; }
.show-detail label.right { margin-left: 10px;  }
.show-detail pre a { text-decoration: underline; }
.show-detail a, .show-detail a label { cursor: pointer; }
.show-detail pre { margin: 0;}

.show-detail-body { margin-bottom: 10px; }


// 	.show-list-body h3 { background: #bbc8bb; height: 100%;}
// 	.show-list-body { border: 1px solid gray; }

// 	.show-detail-title { background: #bbc8bb; height: 20px; }
// 	.show-detail-body { border: 1px solid gray; }


/* First breakpoint at 500px */
@media all and (min-width: 400px){
	.show-detail img { width: 95%;  }
	video, embed { height: 400px; }
}


/* Second breakpoint at 800px */
@media all and (min-width: 800px){
	.ui-block-a, .ui-block-c { width: 15%; }
	.ui-block-b { width: 70%; }
	video, embed { height: 500px; }
}

@media all and (min-width: 900px){
	video, embed { height: 600px; }
}
